.node {}

.link { stroke: rgb(46, 41, 41); stroke-opacity: .6; stroke-width: 1px; }

.container {
    background-color: aliceblue;
}

svg{
    background: antiquewhite;
    float: center;
    position: relative;
    
}

.navbar{
    border: 1px solid black;
    background-color: grey;
    width: 100%;
}

.form-container{
    margin-top: 10px;
    margin-bottom: 10px;
}

#siteheader{
    position: center;
    margin-top: 20px;
    padding: 10px;
    
}


