html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.grid-container {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;;
}

.grid-item {
    background: #eee;
    border: solid #878787;
}

#content{
    height: 100%;
    padding: 10px;
}
#header {
    text-align: center;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 1;
}
#navbar {
    text-align: center;
    font-size: 24px;
    padding-top: 62px;
}

#forms {
    float: left;
    height: 100%;
    padding: 10px;
}

#graphdisplay{
    float: left;
    position: relative;
    width: auto;
}

#footer {
    text-align: center;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    z-index: 1;
}

.link { stroke: rgb(46, 41, 41); stroke-opacity: .6; stroke-width: 1px; }

.container {
    position: relative;
    display: block;
    background-color: rgb(28, 122, 40);
}

.svg{
    /* align-items: center; */
    /* position: absolute; */
    /* display: block;
    margin: inline; */
    background: antiquewhite;
}